/* Tekst */
@import url("https://use.typekit.net/tvk3tzh.css");

:root {
  --bg-color: #f2d3ac;
  --link-color: #014017;
  --link-hover-color: #f2f2f2;
  --color-4: #b2ba95;
  --color-5: #f2b705;

  --primary-font: "soleil", sans-serif;
  /* --secondary-font: "bebas-neue-rounded", sans-serif; */
  --main-text-color: var(--link-color);

  --white-space: 1rem;
}

h1 {
  font-family: var(--primary-font);
  color: var(--link-color);
  background-color: var(--bg-color);
}
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--link-color);
}

p {
  font-family: var(--primary-font);
  color: var(--link-color);
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  width: 100vw;
}
header {
  width: 100vw;
}
nav {
  background-color: var(--bg-color);
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
}

.nav-link {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-size: 1em;
  color: var(--link-color);
}
.nav-link:hover {
  font-weight: 600;
  color: var(--color-4);
}

.nav-link:focus {
  text-decoration: underline;
}
.splash_pic {
  transform: scale(0.6) translateX(-210px) translateY(-250px);
}
.welcome {
  position: absolute;
  transform: translateY(-200px);
  margin-left: 4px;
}
.welcome_text {
  background-color: var(--link-hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 50px;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

#about,
#portfolio,
#contact {
  border: solid 1px var(--link-color);
}

.who {
  background-color: var(--bg-color);
  transform: translateY(-25px);
  margin-left: 100px;
  margin-right: 100px;
}

.p_navn {
  background-color: var(--bg-color);
  margin-left: 50px;
  margin-right: 180px;
  transform: rotate(-90deg) translateY(265px) translateX(100px);

  font-size: 10px;
  padding: 5px;
}

#tools {
  background-color: var(--link-color);
  /* transform: skewY(-2deg); */
}
.tool {
  color: var(--link-hover-color);
}
#tools p {
  color: var(--link-hover-color);
}

.portfolio_heading {
  background-color: var(--bg-color);
  transform: translateY(-60px);
  margin-left: 45px;
  margin-right: 5em;
}
.projekt_pic {
  opacity: 65%;
  cursor: pointer;
}

.projekt_pic:hover {
  opacity: 100%;
  transform: scale(1.1);
}

/* CSS CV */

.ball {
  fill: white;
  /* visibility: hidden; */
}

.texten {
  font-family: var(--primary-font);
  color: #f2f2f2;
  /* visibility: hidden; */
}

/* CSS CV end */

.kontakt {
  position: absolute;
  transform: translateY(350px);
  margin-left: 150px;
}
.kontakt_text {
  background-color: var(--link-hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 50px;
  letter-spacing: 3px;
  margin-bottom: 8px;
  margin-left: -35px;
}

@keyframes kf_arrow {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(50px);
  }
}
.arrow {
  transform: translateY(50px);
  animation-name: kf_arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

footer {
  background-color: var(--color-4);
}

footer a {
}
@media only screen and (min-width: 500px) {
  .kontakt {
    transform: translateY(400px);
    margin-left: 170px;
  }
}

@media only screen and (min-width: 600px) {
  .kontakt {
    transform: translateY(450px);
    margin-left: 190px;
  }
  .p_navn {
    margin-right: 295px;
    transform: rotate(-90deg) translateY(374px) translateX(100px);
  }
}
@media only screen and (min-width: 700px) {
  .kontakt {
    transform: translateY(500px);
    margin-left: 250px;
  }

  .p_navn {
    margin-right: 400px;
    transform: rotate(-90deg) translateY(479px) translateX(100px);
  }
}

@media only screen and (min-width: 800px) {
  .who {
    background-color: var(--bg-color);
    transform: translateY(-25px);
    margin-left: 240px;
    margin-right: 240px;
  }

  .p_navn {
    margin-right: 500px;
    transform: rotate(-90deg) translateY(577px) translateX(100px);
  }
  .kontakt {
    transform: translateY(600px);
    margin-left: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .p_navn {
    margin-right: 600px;
    transform: rotate(-90deg) translateY(677px) translateX(100px);
  }
}

@media only screen and (min-width: 1000px) {
  .p_navn {
    margin-left: 90px;
    margin-right: 700px;
    transform: rotate(-90deg) translateY(779px) translateX(100px);
  }
}

@media only screen and (min-width: 1400px) {
  .p_navn {
    margin-left: 90px;
    margin-right: 1100px;
    transform: rotate(-90deg) translateY(1177px) translateX(100px);
  }
}
