/* Tekst */
@import url("https://use.typekit.net/tvk3tzh.css");

:root {
  --bg-color: #f2d3ac;
  --link-color: #014017;
  --link-hover-color: #f2f2f2;
  --color-4: #b2ba95;
  --color-5: #f2b705;

  --primary-font: "soleil", sans-serif;
  /* --secondary-font: "bebas-neue-rounded", sans-serif; */
  --main-text-color: var(--link-color);

  --white-space: 1rem;
}

h1 {
  font-family: var(--primary-font);
  color: var(--link-color);
  background-color: var(--bg-color);
}
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--link-color);
}

p {
  font-family: var(--primary-font);
  color: var(--link-color);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  width: 100vw;
}
header {
  width: 100vw;
}
nav {
  background-color: var(--bg-color);
  z-index: 1;
  overflow-x: hidden;
  width: 100vw;
}

.nav-link {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-size: 1em;
  color: var(--link-color);
}
.nav-link:hover {
  font-weight: 600;
  color: var(--color-4);
}

.nav-link:focus {
  text-decoration: underline;
}
.splash_pic {
  transform: scale(0.6) translateX(-210px) translateY(-250px);
}
.welcome {
  position: absolute;
  transform: translateY(-200px);
  margin-left: 4px;
}
.welcome_text {
  background-color: var(--link-hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 50px;
  letter-spacing: 3px;
  margin-bottom: 8px;
  transform-origin: 0px 0px;
}
.menu {
  margin-top: 10rem;
  visibility: hidden;
  position: absolute;
}

ul {
  list-style-type: none;
}
ul li a {
  color: var(--link-color);
  font-size: 2rem;
  text-decoration: none;
  line-height: 3rem;
  cursor: pointer;
}

ul li a:hover {
  color: var(--color-4);
}

#about,
#contact {
  border: solid 1px var(--link-color);
}

.who {
  background-color: var(--bg-color);
  transform: translateY(-1rem);
  margin-left: 7rem;
  margin-right: 7rem;
}

.p_navn {
  background-color: var(--bg-color);
  margin-left: 10rem;
  margin-right: 5rem;
  transform: rotate(-90deg) translateY(10rem) translateX(7rem);
  font-size: 10px;
  padding: 5px;
}

#tools {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
  background-color: var(--link-color);
  clip-path: polygon(0% 18%, 100% 0%, 100% 85%, 0% 100%);
}
.tool {
  color: var(--link-hover-color);
}
#tools p {
  color: var(--link-hover-color);
}

.projekt_pic {
  opacity: 65%;
  cursor: pointer;
}

.projekt_pic:hover {
  opacity: 100%;
  transform: scale(1.1);
}

.kontakt {
  position: absolute;
  transform: translateY(37rem);
  margin-left: 7rem;
}

.kontakt_pic {
  width: 80%;
  height: 90%;
}

.contact_text {
  padding: 3rem;
}

.kontakt_heading {
  background-color: var(--bg-color);
  transform: translateY(-1.3rem);
  clip-path: inset(21% 28% 24% 28%);
  padding: 5px;
}

.kontakt_text {
  background-color: var(--link-hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 3px;
  margin-bottom: 8px;
  font-size: 12px;
}

@keyframes kf_arrow {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(50px);
  }
}
.arrow {
  transform: translateY(50px);
  animation-name: kf_arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

footer {
  background-color: var(--color-4);
}

footer p {
  font-size: 0.8rem;
}
@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 600px) {
  .p_navn {
    margin-left: 16.5rem;
  }

  .kontakt {
    transform: translateY(42rem);
    margin-left: 9rem;
  }
}
@media only screen and (min-width: 700px) {
  .p_navn {
    margin-left: 22.5rem;
  }
}
@media only screen and (min-width: 750px) {
  .p_navn {
    margin-left: 26rem;
  }

  .kontakt {
    transform: translateY(49rem);
    margin-left: 13rem;
  }
}

@media only screen and (min-width: 800px) {
  .menu {
    visibility: visible;
    position: relative;
  }

  .who {
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .p_navn {
    margin-left: 29rem;
  }

  .kontakt_pic {
    transform: scaleX(-1);
  }

  .kontakt {
    transform: translateY(53rem);
  }
}

@media only screen and (min-width: 900px) {
  .p_navn {
    margin-left: 35.5rem;
  }
  .kontakt {
    transform: translateY(60rem);
  }
}

@media only screen and (min-width: 1000px) {
  .kontakt_pic {
    width: 30%;
  }
  .p_navn {
    margin-left: 41.6rem;
  }

  .kontakt {
    transform: translateY(19rem);
    margin-left: 28rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_navn {
    margin-left: 54rem;
  }
  .kontakt {
    transform: translateY(23rem);
    margin-left: 34rem;
  }
}

@media only screen and (min-width: 1440px) {
  .who {
    transform: translateY(-2rem);
    margin-left: 30rem;
    margin-right: 30rem;
  }

  .p_navn {
    margin-left: 46rem;
    margin-right: 28rem;
    transform: rotate(-90deg) translateY(33rem) translateX(7rem);
    font-size: 10px;
    padding: 6px;
  }

  .contact_text {
    padding: 10rem;
  }

  .kontakt_heading {
    background-color: var(--bg-color);
    transform: translateY(-1.8rem);
    clip-path: inset(10% 40% 10% 40%);
    padding: 5px;
  }

  .kontakt {
    transform: translateY(27rem);
    margin-left: 32rem;
  }
}
